.button {
  padding: 0.5rem 1rem;
  border-radius: 10px;

  &-primary {
    border: none;
    background-color: purple;
    color: white;
  }

  &-secondary {
    border: 1px solid slategray;
    background-color: white;
  }
}
