@import "../../assets/scss/mixins.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  background-color: purple;
  color: white;

  .navigation {
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  @include mobile {
    .navigation {
      display: flex;
      flex-direction: column;
    }
  }
}
