@import "../../assets/scss/mixins.scss";

.header {
  ul {
    list-style: none;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  color: white;

  .desktop-links {
    display: none;
  }

  @include tablet {
    .desktop-links {
      display: flex;
      gap: 10px;
    }

    .hamburger-icon {
      display: none;
    }
  }
}

.navigation-sidebar {
  position: fixed;
  background-color: purple;
  color: white;
  min-height: 100vh;
  min-width: 300px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@include tablet {
  .navigation-sidebar {
    display: none;
  }
}
