@import "../../assets/scss/mixins.scss";

.page {
  display: grid;
  gap: 1rem;
}

@include desktop {
  .page {
    grid-template-columns: repeat(4, 1fr);

    .sidebar {
      grid-column: 4 / span 1;
    }
  }
}
